body{
    margin: 0;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
   width: 500px;
   height: 300px;
   box-shadow: 0 4px 8px rgba(0, 0, 0.15);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}

.container1{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container2{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.currencyTwo{
    padding-right: 172px;
}

#currency-input{
    border-style: none;
    text-align: end;
    outline-style: none;
    font-size: large;
}